html, body { 
    height:100%;
}

html {
  background: #000 url("https://farm6.staticflickr.com/5195/7168156330_7d380b96fe_k_d.jpg") no-repeat;
}

body {
  background-color: rgba(0,0,0, .7);
  font-size: 18px;
  min-height: 100%;
  text-align: center;
}

header img {
  width: 200px;
  height: auto;
}

h1,h2,h3, ul, a, p {
  color: white;
  line-height: 1.4;
  font-family: 'Helvetica Neue';
  margin-top: 20px;
}

h1,h2,h3 {
  font-size: 2em;
}

ul {
  margin-bottom: 20px;
}

section {
  text-align: center;
}

    li {
        width: 200px;
        min-height: 250px;
        border: 1px solid #000;
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: top;
        margin: 5px;
    }