<body>
<header>
  <img src="http://i.imgur.com/LHJBGGY.png" alt="AIR logo" class="header__logo__img">
</header>
<main>
  <section id="sample">
    <header><h1>Our airbnb portfolio samples</h1></header>
    <div>
      <p>We can copywrite the best performing airbnb offers. Let us create one for you!</p>
      <ul>
        <li ng-repeat="document in documents">
          <h4 >{{document.name}}</h4>
          <img src="{{document.thumb}}" alt="Mountain View" style="width:204px;height:228px;">
          <i class="fa fa-file-pdf-o" style="font-size:20px;color:red;"></i>
        </li>
      </ul>
      <br>
      <a id="all-samples" href="https://drive.google.com/open?id=0B7cCcjXnte7vVktTQ1RfMHNRZGM" target="_blank">See all samples</a>
    </div>
  </section>
</main>
</body>